<% c++ #include <content.h> %>
<% skin mitpgpskin %>
<% view homepage uses peaks::pks::content::homepage %>
<% template render() %>

<html>
<head>
<title>Peaks PGP Key Server</title>
</head>
<body>

<h1>Peaks PGP Public Key Server</h1>

<h3>
<hr>
<a name="extract">Extract a key</a></h3>

<form action="/pks/lookup" method="GET">

Search String: <input name="search" size=40>
<input type="submit" value="Do the search!"><p>

Index: <input type="radio" name="op" value="index" checked>
Verbose Index: <input type="radio" name="op" value="vindex"><p>

<input type="checkbox" name="fingerprint"> Show PGP fingerprints
for keys <p>

<input type="checkbox" name="exact"> Only return exact matches <p>

</form>

<h3>
<hr>
<a name="submit">Submit a key</a></h3>
Enter ASCII-armored PGP key here: <p>

<form method="post" action="" >
<% form as_table submit %>
</form>

<!-- WIP: Key removal
<h3>
<hr>
<a name="remove">Remove a key</a></h3>

Search String:

<form method="post" action="" >
<% form as_table remove %>
</form>

<hr>

-->

</body>
</html>

<% end template %>
<% end view %>
<% end skin %>
