<% c++ #include <content.h> %>
<% skin mitpgpskin %>
<% view homepage uses peaks::pks::content::homepage %>
<% template render() %>

<html>
<head>
<title>Peaks PGP Key Server</title>
<link href="/css/style.css" rel="stylesheet">

</head>
<body>

<h1>Peaks PGP Public Key Server</h1>

<h3>
<hr>
<a name="extract">Extract a key</a></h3>

<form action="/pks/lookup" method="GET">

Search String: <input name="search" size=40>
<input type="submit" value="Do the search!"><p>

Index: <input type="radio" name="op" value="index" checked>
Verbose Index: <input type="radio" name="op" value="vindex"><p>

<input type="checkbox" name="fingerprint"> Show PGP fingerprints
for keys <p>

<input type="checkbox" name="exact"> Only return exact matches <p>

</form>

<h3>
<hr>
<a name="submit">Submit a key</a></h3>
Enter ASCII-armored PGP key here: <p>

<form method="post" action="" >
<% form as_table submit %>
</form>

<h3>
<hr>
<a name="remove">Remove a key</a></h3>

To remove a key you need to prove to be the owner:
<br>
Sign with the key you want to remove a file containing ONLY the text without quotes: "GDPR Request"
<br>
Example command to output the signature for keyID <i>ABDC1410FA7276A6</i> is: <i>gpg -u ABDC1410FA7276A6 --clearsign --armor file.txt</i>
<br>
Then paste below the ASCII-armored content of <i>file.txt.asc</i> and the ID of the key to remove
<form method="post" action="/pks/remove" >
<% form as_table remove %>
</form>

<hr>

<a href="https://github.com/r4yan2/peaks">About</a>
<a href="/pks/stats">Statistics</a>

</body>
</html>

<% end template %>
<% end view %>
<% end skin %>
