<% c++ #include <content.h> %>
<% skin mitpgpskin %>
<% view vindex uses peaks::pks::content::vindex %>
<% template render() %>
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Search results for '<%= searchString %>'</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<style type="text/css">
/*<![CDATA[*/
 .uid { color: green; text-decoration: underline; }
 .warn { color: red; font-weight: bold; }
 td { text-align: left; padding:0 5px 0 5px; }
/*]]>*/
</style></head><body><h1>Search results for '<%= searchString %>'</h1>
<pre><table style="width: auto">
    <tr>
    <th>Type</th>
    <th style="text-align: center">bits</th>
    <th>keyID</th>
    <th>cr. Time</th>
    <th>exp time</th>
    <th>key expir</th>
    <th>signer</th>
    <th></th>
    <th>vulnerability</th>
    <tr>
<%= key_component | raw %>
</table></pre></body></html>
<% end template %>
<% end view %>
<% end skin %>
